.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: 480px; /* モバイル風 */
  margin: 0 auto;
  border: 1px solid #ddd;
}

header {
  position: sticky;
  top: 0;
  background: gray;
  padding: 16px;
  z-index: 10;
}
h3{
  padding-bottom: 0px;
  margin-bottom: 0px;
}
main {
  overflow-y: auto;
  padding: 16px;
}

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  background: gray;
  border-top: 1px solid #ddd;
  height: 60px;
  align-items: center;
}
footer nav {
  display: flex;
  justify-content: space-around; /* or space-between */
  align-items: center;
}
